{% extends 'base.html.twig' %}

{% block body %}
    
<div class="container">
    <div class="bloc">
       
        <div>
            <img class="picture"src="{{asset('img/Group 53.jpg')}}">
            <img class="picture"src="{{asset('img/Group 54.jpg')}}">
            <img class="picture"src="{{asset('img/Group 55.jpg')}}">
            <h5 class="text">TOI AUSSI <font color="#F05A24">MET DES COULEUR <br> SUR TA PHOTO DE PROFIL</font> EN<br> TELECHARGEANT LE CADRE<br> FORME AUX ECLES</h5>
           
        </div> 
        
        <div>
            <img class="picture"src="{{asset('img/Group 56.jpg')}}">
            <img class="picture"src="{{asset('img/Group 57.jpg')}}">
            <img class="picture"src="{{asset('img/Group 58.jpg')}}">
             
        </div> 

        <div>
            <img class="picture"src="{{asset('img/Group 59.jpg')}}">
            <img class="picture"src="{{asset('img/Group 60.jpg')}}">
            <img class="picture"src="{{asset('img/Group 61.jpg')}}">
             
            
        </div> 
            <div class="lien">
            <div><a href="{{ path('photo_upload_petite') }}"> petite</a></div>
            <div><a href="{{ path('photo') }}"> moyenne</a></div> 
            <div><a href="{{ path('photo_upload_grande') }}">grande</a></div>
          
               
        </div>
          <div><p class="keep">ni vos photos telecharge ni les cadres ne seront conserve.</div>
    </div> 
         <div class="select"> {{ form_start(form) }}
        {{ form_row(form.photo) }}</div>
      <div> <button class="btn btn1">Telechage ta photo</button>
       {{ form_end(form) }}</div>
</div>
     {% endblock %}
